/* ==========================
   GLOBAL RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}


body{

    font-family:'Poppins',sans-serif;

    background:
    linear-gradient(135deg,#050014,#10002b,#240046,#03001c);

    color:white;

    overflow-x:hidden;

}




/* ==========================
   ANIMATED BACKGROUND
========================== */


body::before{

content:"";

position:fixed;

width:500px;
height:500px;

background:
radial-gradient(circle,#8a2be2,transparent 70%);

top:-150px;
left:-150px;

filter:blur(80px);

animation:glow1 8s infinite alternate;

z-index:-1;

}



body::after{

content:"";

position:fixed;

width:500px;
height:500px;

background:
radial-gradient(circle,#00e5ff,transparent 70%);

bottom:-150px;
right:-150px;

filter:blur(90px);

animation:glow2 10s infinite alternate;

z-index:-1;

}



@keyframes glow1{

from{
transform:translate(0);
}

to{
transform:translate(250px,200px);
}

}



@keyframes glow2{

from{
transform:translate(0);
}

to{
transform:translate(-250px,-200px);
}

}





/* ==========================
 NAVBAR
========================== */


header{

position:fixed;

top:0;

width:100%;

z-index:1000;

}



.navbar{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 8%;


background:
rgba(255,255,255,0.08);


backdrop-filter:blur(20px);


border-bottom:
1px solid rgba(255,255,255,.1);

}




.logo{

font-size:30px;

font-weight:800;

letter-spacing:2px;

}



.logo span{

color:#00e5ff;

}





/* MENU */


.nav-links{

display:flex;

align-items:center;

gap:35px;

list-style:none;

}




.nav-links li a{

text-decoration:none;

color:white;

font-size:16px;

font-weight:500;

position:relative;

transition:.3s;

}



.nav-links li a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0%;

height:2px;

background:#00e5ff;

transition:.3s;

}



.nav-links li a:hover{

color:#00e5ff;

}



.nav-links li a:hover::after{

width:100%;

}




/* HAMBURGER */


.menu-btn{

display:none;

font-size:32px;

cursor:pointer;

color:white;

}








/* ==========================
 HERO
========================== */


.hero{

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:120px 8% 50px;

gap:40px;

}



.hero-text{

max-width:600px;

}



.hero-text h1{

font-size:55px;

}


.hero-text h1 span{

color:#00e5ff;

}



.hero-text h2{

font-size:32px;

color:#a855f7;

}



.hero-text p{

margin:25px 0;

line-height:1.8;

color:#ddd;

}





.buttons{

display:flex;

gap:20px;

}



.btn{

padding:14px 30px;

border-radius:30px;

text-decoration:none;

color:white;

font-weight:600;

background:
linear-gradient(90deg,#7b2cff,#00e5ff);

transition:.4s;

}



.btn:hover{

transform:translateY(-5px);

box-shadow:
0 0 25px #00e5ff;

}



.outline{

background:transparent;

border:2px solid #00e5ff;

}







/* CODE CARD */


.code-box{

width:400px;

padding:30px;

background:

rgba(255,255,255,.08);

border-radius:25px;

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.2);

}





.floating-icon{

position:absolute;

padding:15px 25px;

background:#111;

border-radius:20px;

animation:bounce 3s infinite;

}



@keyframes bounce{

50%{

transform:translateY(-20px);

}

}








/* ==========================
 SECTIONS
========================== */


.section{

padding:90px 8%;

}



.title{

text-align:center;

font-size:40px;

color:#00e5ff;

margin-bottom:40px;

}




.about-box,
.skill-card,
.project-card,
.timeline-box{

background:
rgba(255,255,255,.08);

backdrop-filter:blur(15px);

border-radius:25px;

padding:30px;

}





/* SKILLS */


.skills-container{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

}



.bar{

height:10px;

background:#333;

border-radius:20px;

margin-top:15px;

}



.bar span{

display:block;

height:100%;

background:
linear-gradient(90deg,#7b2cff,#00e5ff);

border-radius:20px;

}







/* PROJECT */


.projects{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.project-card{

transition:.4s;

}



.project-card:hover{

transform:translateY(-15px);

box-shadow:
0 0 30px #7b2cff;

}





/* CONTACT */


.contact-box{

max-width:600px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}



.contact-box input,
.contact-box textarea{

padding:15px;

border-radius:15px;

border:none;

outline:none;

}




.contact-box button{

padding:15px;

border-radius:30px;

border:none;

background:#00e5ff;

font-weight:bold;

}





footer{

text-align:center;

padding:30px;

}







/* ==========================
 TABLET
========================== */


@media(max-width:900px){


.navbar{

padding:0 5%;

}



.hero{

flex-direction:column;

text-align:center;

}



.code-box{

width:330px;

}



.projects{

grid-template-columns:1fr;

}



.skills-container{

grid-template-columns:1fr;

}


}









/* ==========================
 MOBILE MENU
========================== */


@media(max-width:700px){



.menu-btn{

display:block;

}



.nav-links{


position:absolute;

top:80px;

left:0;

width:100%;


background:
rgba(5,0,20,.95);



display:flex;

flex-direction:column;


gap:25px;


padding:40px 0;


transform:translateY(-120%);


transition:.5s;


}



.nav-links.active{

transform:translateY(0);

}



.nav-links li a{

font-size:20px;

}



.hero-text h1{

font-size:38px;

}



.hero-text h2{

font-size:25px;

}



.buttons{

flex-direction:column;

}



}




/* SMALL PHONES */


@media(max-width:400px){


.logo{

font-size:24px;

}


.code-box{

width:280px;

}


.title{

font-size:30px;

}


}